<div class="f-container">
  <div>
    <mat-slide-toggle class="divide" [(ngModel)]="isChecked">
      Restrict
    </mat-slide-toggle>

    <button mat-raised-button class="divide" (click)="addGroup()">Create Group</button>
    <button mat-stroked-button color="accent" class="divide" (click)="createTemplate()">Create Template</button>
    <button mat-stroked-button color="primary" class="divide" (click)="Undo()"> Undo </button>

    <button mat-raised-button color="primary" class="divide" (click)="expandAll()"> Expand All</button>
    <button mat-stroked-button color="accent" class="divide" (click)="collapseAll()"> Collapse All</button>
    <button mat-stroked-button color="warn" class="divide" (click)="selectOrDeselectAll()"> Select All</button>
  </div>
  <div>

    <mat-form-field class="divide">
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="searchInput" placeholder="Search" (input)="updateFilterItems()">
    </mat-form-field>

    <mat-form-field class="divide">
      <mat-label>Filter</mat-label>
      <mat-select [(ngModel)]="selectedFilter" name="item" (selectionChange)="updateFilterItems()">
        <mat-option *ngFor="let item of filters" [value]="item.key">
          {{item.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<p> Selected Nodes: {{checklistSelection.selected.length}}</p>

<!-- <mat-tree class="divide" [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding [matTreeNodePaddingIndent]="60">
    <div class="checklist-leaf-node mani" [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
    'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
    'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node,
    'group-font': node.type !==3}" draggable="true" (dragstart)="handleDragStart($event, node);"
      (dragover)="handleDragOver($event, node);" (drop)="handleDrop($event, node);" (dragend)="handleDragEnd($event);">
      <mat-checkbox color="primary" [checked]="checklistSelection.isSelected(node)"
        (change)="checklistSelection.toggle(node);"></mat-checkbox>
      &nbsp;{{node.item}}
      level:{{node.level}} type:{{node.type}} active: {{node.isActive}}
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" overlapTrigger="false">
        <button *ngIf="!node.isActive" mat-menu-item color="accent"
          (click)="updateActiveStatus(node,true)">Activate</button>
        <button *ngIf="node.isActive" mat-menu-item color="accent"
          (click)="updateActiveStatus(node,false)">Deactivate</button>
        <button mat-menu-item color="primary" (click)="rename(node)"> Rename</button>
        <button mat-menu-item color="warn" (click)="delete(node)"> Delete</button>
      </mat-menu>
      <button mat-icon-button disabled></button>
    </div>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding [matTreeNodePaddingIndent]="60">
    <button mat-icon-button disabled></button>
    <mat-form-field>
      <input matInput #itemValue placeholder="New item...">
    </mat-form-field>
    <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding [matTreeNodePaddingIndent]="60">
    <div class="mani" [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
    'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
    'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node,
    'group-font': node.type !==3}" draggable="true" (dragstart)="handleDragStart($event, node);"
      (dragover)="handleDragOver($event, node);" (drop)="handleDrop($event, node);" (dragend)="handleDragEnd($event);">
      <mat-checkbox color="primary" [checked]="descendantsAllSelected(node)"
        [indeterminate]="descendantsPartiallySelected(node)" (change)="todoItemSelectionToggle(node)"></mat-checkbox>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      &nbsp;{{node.item}}
      level:{{node.level}} type:{{node.type}} Active: {{node.isActive}}
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" overlapTrigger="false">
        <button mat-menu-item color="accent" *ngIf="node.type==1" (click)="addSubGroup(node)"> Add Sub Group </button>
        <button mat-menu-item color="primary" (click)="rename(node)"> Rename</button>
        <button mat-menu-item color="warn" (click)="delete(node)"> Delete</button>
      </mat-menu>
    </div>
  </mat-tree-node>
</mat-tree> -->

<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>
      <span [style.paddingLeft.px]="40"> Name </span>
    </th>
    <td mat-cell *matCellDef="let data">
      <div class="mani">
        <mat-checkbox color="primary" [style.marginLeft.px]="data.level * 32 * 2"
      [checked]="checklistSelection.isSelected(data)"
      [indeterminate]="descendantsPartiallySelected(data)"
      (change)="todoItemSelectionToggle(data)"></mat-checkbox>
        <button mat-icon-button *ngIf="data.expandable"
          (click)="treeControl.toggle(data)">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        
        {{data.item}}
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef> Count </th>
    <td mat-cell *matCellDef="let data"> 1 </td>
  </ng-container>

  <ng-container matColumnDef="Modified">
    <th mat-header-cell *matHeaderCellDef> Modified </th>
    <td mat-cell *matCellDef="let data"> Trinadh </td>
  </ng-container>

  <ng-container matColumnDef="Activated/Deactivated">
    <th mat-header-cell *matHeaderCellDef> Activated/Deactivated </th>
    <td mat-cell *matCellDef="let data"> Sep 3, Trinadh </td>
  </ng-container>

  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let data"> 
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" overlapTrigger="false">
        <button *ngIf="data.type==3 && !data.isActive" mat-menu-item color="accent"
          (click)="updateActiveStatus(data,true)">Activate</button>
        <button *ngIf="data.type==3 && data.isActive" mat-menu-item color="accent"
          (click)="updateActiveStatus(data,false)">Deactivate</button>
        <button mat-menu-item color="accent" *ngIf="data.type==1" (click)="addSubGroup(data)"> Add Sub Group </button>
        <button mat-menu-item color="primary" (click)="rename(data)"> Rename</button>
        <button mat-menu-item color="warn" (click)="delete(data)"> Delete</button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class="checklist-leaf-node" [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === data,
  'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === data,
  'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === data,
  'group-font': data.type !==3}" draggable="true" (dragstart)="handleDragStart($event, data);"
(dragover)="handleDragOver($event, data);" (drop)="handleDrop($event, data);" (dragend)="handleDragEnd($event);" mat-row *matRowDef="let data; columns: displayedColumns;"></tr>
</table>
<span #emptyItem></span>